{% block head_meta %}
  <meta name="description" content="Lowell support site to help Lowell students get information easily and remove stress.">
{% endblock %}

{% block content %}

    <script>
      .nounderline {
        text-decoration: none !important
      }
    </script>

    <footer class="text-secondary">

      <h3>{{_("Lowell Help Forum")}}</h3>

      <div class="container">

        <div class="row">

          <div class="col-xs-4">
            <a href="/register/form" class="nounderline"><center><p>{{_("Register")}}</p></center></a>
          </div>

          <div class="col-xs-4">
            <a href="/login/" class="nounderline"><center><p>{{_("Login")}}</p></center></a>
          </div>

          <div class="col-xs-4">
            <a href="/bugreport/" class="nounderline"><center><p>{{_("Report Bugs")}}</p></center></a>
          </div>

        </div>

      </div>

      <div class="container">

        <div class="row">

          <a href="/license" class="nounderline">

            <div class="col-xs-6">
              <center><h4>{{_("© Lowell-Dashboard Github Organization. All Rights Reserved.")}}</h4></center>
            </div>

            <div class="col-xs-6">
              <center><h4>{{_("View License")}}</h4></center>
            </div>

          </a>

        </div>

      </div>

    </footer>

{% endblock %}
