{% block content %}
    <footer class="text-secondary nounderline">
      <h3>{{_("Lowell Help Forum")}}</h3>
      <div class="container">
        <div class="row">
          <div class="col-xs-6">
            <center><a href="/login" target=""><p>{{_("Login")}}</p></a></center>
          </div>
          <div class="col-xs-6">
            <center><a href="/bugreport" target=""><p>{{_("Report Bugs")}}</p></a></center>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <a href="https://github.com/lowell-dashboard/dashboard-flask/blob/master/LICENSE" target="" class="nounderline">
            <div class="col-xs-6">
              <center><h4 >{{_("© Lowell-Dashboard Github Organization. All Rights Reserved.")}}</h4></center>
            </div>
            <div class="col-xs-6">
              <center><h4 >{{_("View License")}}</h4></center>
            </div>
          </a>
        </div>
      </div>
    </footer>
{% endblock %}
