{% extends "appbuilder/base.html" %}

{% block head_meta %}
  <meta name="description" content="Lowell support site to help Lowell students get information easily and remove stress.">
  <meta charset='utf-8'>
{% endblock %}

{% block content %}
<center>
<h2>{{_('Welcome')}} {{first_name}} {{last_name}}</h2>

<p>{{_('Your user is activated for Lowell Help Forum. You can now proceed to login and use the forum')}}</p>

<h3><a href="/login" class="nounderline">Login!</a></h3>
<center>
{% endblock %}
