{% extends "appbuilder/base.html" %}
{% block content %}
    <div class="jumbotron">
      <div class="container">
        <center>
          <h1>{{_("Lowell Help Forum Disclaimer")}}</h1>
          <p>{{_("We are in no way run by or affiliated")}}</p>
          <p>{{_("with Lowell High school in San Francisco.")}}</p>
          <p>{{_("This site was created by Lowell students")}}</p>
          <p>{{_("for Lowell students. If there is ever a bug or something that needs to reported use the websites report function adn do not ask Lowell school staff for help with this website")}}</p>
        </center>
      </div>
    </div>
{% endblock %}
