{% extends "appbuilder/base.html" %}

{% block head_meta %}
  <meta name="description" content="Lowell support site to help Lowell students get information easily and remove stress.">
{% endblock %}

{% block content %}

<div class="jumbotron">

  <div class="container">

    <center>

      <h1>{{_("Lowell Help Forum")}}</h1>

      <br>

      <h4>Create an account to post and talk with fellow students</h4>

    </center>

  </div>

</div>

<div class="container">

  <div class="row">

    <div class="col-xs-6">

      <div class="jumbotron">
        <center><h2>{{_("Register")}}</h2></center>
      </div>

    </div>

    <div class="col-xs-6">

      <div class="jumbotron">

        <center>

          <h2>{{_("Login")}}</h2>

        </center>

      </div>

    </div>

  </div>

</div>

{% endblock %}
