{% extends "appbuilder/base.html" %}

{% block content %}

<div class="jumbotron">

  <div class="container">

    <center>

      <h1>{{_("Lowell Help Forum")}}</h1>

      <br>

      <h3 class="text-info">{{_("Create an account to post and communicate with fellow students")}}</h3>

    </center>

  </div>

</div>

<div class="container">

  <div class="row">

    <div class="col-xs-6">

      <div class="jumbotron">

        <center>

          <h2>{{_("Register")}}</h2>

          <br>

          <p>{{_("Don't have an account but want to get all our resources and post? Click this Button.")}}</p>

          <br>

          <a class="btn btn-success btn-block btn-lg" href="/register/form" role="button">{{_("Register Here!")}}</a>

          <br>

        </center>

      </div>

    </div>

    <div class="col-xs-6">

      <div class="jumbotron">

        <center>

          <h2>{{_("Login")}}</h2>

          <br>

          <p>{{_("Already have an account with us? Click this Button.")}}</p>

          <br>

          <a class="btn btn-success btn-block btn-lg" href="/login/" role="button">{{_("Login Here!")}}</a>

          <br>

        </center>

      </div>

    </div>

  </div>

</div>

{% endblock %}
